
<%= simple_form_for(@variation_weight) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <input type="hidden" name="variation_weigths[person_id]" value="<%= current_user.id %>">
  <input type="hidden" name="variation_weights[date]" value="<%= DateTime.current %>">

  <div class="field m-lg-2">
    <%= f.label "Peso atual:" %>
    <%= f.text_field :weight %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,"Registro do peso",  class: "btn btn-primary"%>
  </div>
<% end %>
