<p id="notice"><%= notice %></p>
<h7> Confirmar se os dados estão corretos </h7>
<p>
  <strong>Nome:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Apelido:</strong>
  <%= @person.nickname %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @person.gender %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @person.weight %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @person.height %>
</p>

<div class="btn-group">
  <%= button_to 'Confirmar', dashboard_path, method: :post, class: "btn btn-primary" %>
  <%= button_to 'Editar', edit_person_path(@person), class: "btn btn-link" %>
</div>