<p id="notice"><%= notice %></p>

<p>
  <strong>Diet:</strong>
  <%= @meal.diet_id %>
</p>

<p>
  <strong>Meal kind:</strong>
  <%= @meal.meal_kind %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
