<%= form_with(model: diet) do |form| %>
  <% if diet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diet.errors.count, "error") %> prohibited this diet from being saved:</h2>

      <ul>
        <% diet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" name="diet[person_id]" value="<%= current_user.id %>">

  <div class="field m-lg-2">
    <%= form.label "Data inicial:" %>
    <%= form.date_field :initial_date, as: :date, value: form.object.try(:strftime,"%d/%m/%Y"), class: 'form-control' %>
  </div>

  <div class="field m-lg-2">
    <%= form.label "Data final" %>
    <%= form.date_field :final_date, as: :date, value: form.object.try(:strftime,"%d/%m/%Y"), class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
